mixin site(url, title)
  li
    a(href=`https://${url}`) #{ title }

mixin pic(title, name)
  p.
    #{ title }, #[em circa 2021]
  p
    img.wiggle(src=`/assets/imgs/geo/photos/${name}.gif`)
  br

mixin yt(id, artist, title)
  li.
    #[em #{ artist }], #[a(href=`https://www.youtube.com/watch?v=${id}`) #{ title }]

mixin img(file, w=false, h=false)
  img(src=`/assets/imgs/geo/${file}`, width=w, height=h)

mixin category(title)
  - const id = _func.fmt('category_%s', _func.slugify(title, { replacement: '_', lower: true }))

  br
  label.collapse(for=id) #{ title }
  input(id=id, type='checkbox')

mixin category-list-hint(file, w=false, h=false)
  br
  +img(file, w, h)

  p.
    To expand a list, hover the cursor over the category name and #[em click with the left button] of your mouse.
